# Note that patterns are not cumulative. So order is important as only the
# last matching pattern is used, see
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners#codeowners-syntax

* @bs-ondem @MarcelBochtler @mnonnenmacher @nnobelis @oheger-bosch @sschuberth
/ui/ @Etsija @lamppu @mmurto
