/.kotlin/
.gradle/
build/
out/
/*.iml

# Intellij IDEA
/.idea/*
!.idea/copyright/

# Kotest temporary directory
.kotest/

# Mac
.DS_Store

# Helm subcharts and install packages
/scripts/helm/ort-server/charts/
/scripts/helm/*.tgz

# Private environment for IDEA HTTP client
http-client.private.env.json

# Private HTTP requests
*.private.http

# VS Code
.vscode/
