.gradle/
.idea/
build/
out/
/*.iml

# Kotest temporary directory
.kotest/

# Mac
.DS_Store

# Helm subcharts and install packages
/scripts/helm/ort-server/charts/
/scripts/helm/*.tgz

# OpenTofu state
/scripts/docker/keycloak/tofu/.terraform
/scripts/docker/keycloak/tofu/.terraform.lock.hcl
/scripts/docker/keycloak/tofu/terraform.tfstate*

# Private environment for IDEA HTTP client
http-client.private.env.json

# Private HTTP requests
*.private.http

# VS Code
.vscode/
