.gradle/
.kotlin/
build/
out/
/*.iml

# Intellij IDEA
/.idea/*
!.idea/copyright/

# Kotest temporary directory
.kotest/

# Mac
.DS_Store

# Helm subcharts and install packages
/scripts/helm/ort-server/charts/
/scripts/helm/*.tgz

# Private environment for IDEA HTTP client
http-client.private.env.json

# Private HTTP requests
*.private.http

# VS Code
.vscode/

# Files related to usage of AI agents which are better kept private,
# to not pollute the repository with personal configurations.
.bv/
.codex/
.github/chatmodes/
.perles/
docs/ai-plans/
AGENTS.md
CLAUDE.md
