Marcel Bochtler <marcel.bochtler@bosch.com> <git@bochtler.io>
Marcel Bochtler <marcel.bochtler@bosch.com> <marcel.bochtler@bosch.io>
Martin Nonnenmacher <martin.nonnenmacher@doubleopen.org> <martin.nonnenmacher@bosch.com>
Martin Nonnenmacher <martin.nonnenmacher@doubleopen.org> <martin.nonnenmacher@bosch.io>
Martin Nonnenmacher <martin.nonnenmacher@doubleopen.org> <martin.nonnenmacher@gmail.com>
Nicolas Nobelis <nicolas.nobelis@bosch.com> <nicolas.nobelis@bosch.io>
Oliver Heger <oliver.heger@bosch.com> <oliver.heger@bosch.io>
Onur Demirci <onur.demirci@bosch.com> <onur.demirci@bosch.io>
Sebastian Schuberth <sebastian@doubleopen.org> <sschuberth@gmail.com>
Jyrki Keisala <jyrki.keisala@doubleopen.org>
