Johanna Lamppu <johanna.lamppu@doubleopen.io> <johanna.lamppu@doubleopen.org>
Jyrki Keisala <jyrki.keisala@doubleopen.io> <jyrki.keisala@doubleopen.org>
Marcel Bochtler <marcel.bochtler@bosch.com> <git@bochtler.io>
Marcel Bochtler <marcel.bochtler@bosch.com> <marcel.bochtler@bosch.io>
Martin Nonnenmacher <martin.nonnenmacher@doubleopen.io> <martin.nonnenmacher@bosch.com>
Martin Nonnenmacher <martin.nonnenmacher@doubleopen.io> <martin.nonnenmacher@bosch.io>
Martin Nonnenmacher <martin.nonnenmacher@doubleopen.io> <martin.nonnenmacher@doubleopen.org>
Martin Nonnenmacher <martin.nonnenmacher@doubleopen.io> <martin.nonnenmacher@gmail.com>
Mikko Murto <mikko.murto@doubleopen.io> <mikko.murto@doubleopen.org>
Nicolas Nobelis <nicolas.nobelis@bosch.com> <nicolas.nobelis@bosch.io>
Oliver Heger <oliver.heger@bosch.com> <oliver.heger@bosch.io>
Onur Demirci <onur.demirci@bosch.com> <onur.demirci@bosch.io>
Sebastian Schuberth <sebastian@doubleopen.io> <sebastian@doubleopen.org>
Sebastian Schuberth <sebastian@doubleopen.io> <sschuberth@gmail.com>
