name: Build and Test

on:
  merge_group:
    types: [ checks_requested ]
  pull_request:
    branches:
    - main
  push:
    branches:
    - main

env:
  GRADLE_OPTS: -Dorg.gradle.daemon=false

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout Repository
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@ac638b010cf58a27ee6c972d7336334ccaf61c96 # v4

    - name: Build all classes
      run: ./gradlew --stacktrace classes

  build-cli:
    strategy:
      matrix:
        target:
          - name: 'Linux x64'
            os: ubuntu-24.04
            task: 'linkReleaseExecutableLinuxX64'
            artifact: 'osc-cli-linux-x64'
            buildPath: 'cli/build/bin/linuxX64/releaseExecutable/osc.kexe'
            binName: 'osc'
          - name: 'macOS arm64'
            os: macos-15
            task: 'linkReleaseExecutableMacosArm64'
            artifact: 'osc-cli-macos-arm64'
            buildPath: 'cli/build/bin/macosArm64/releaseExecutable/osc.kexe'
            binName: 'osc'
          - name: 'macOS x64'
            os: macos-13
            task: 'linkReleaseExecutableMacosX64'
            artifact: 'osc-cli-macos-x64'
            buildPath: 'cli/build/bin/macosX64/releaseExecutable/osc.kexe'
            binName: 'osc'
          - name: 'Windows x64'
            os: windows-2022
            task: 'linkReleaseExecutableMingwX64'
            artifact: 'osc-cli-windows-x64'
            buildPath: 'cli/build/bin/mingwX64/releaseExecutable/osc.exe'
            binName: 'osc.exe'

    runs-on: ${{ matrix.target.os }}
    steps:
    - name: Checkout Repository
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

    - name: Setup Java
      if: runner.os == 'Windows'
      uses: actions/setup-java@c5195efecf7bdfc987ee8bae7a71cb8b11521c00 # v4
      with:
        distribution: temurin
        java-version: 21

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@ac638b010cf58a27ee6c972d7336334ccaf61c96 # v4

    - name: Get the Kotlin version
      id: get-kotlin-plugin-info
      shell: bash
      run: echo "info=$(./gradlew -q :cli:properties | grep kotlin.plugin.loaded.in.projects)" >> $GITHUB_OUTPUT

    - name: Cache the .konan directory
      uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4
      with:
        path: ~/.konan
        key: ${{ steps.get-kotlin-plugin-info.outputs.info }}

    - name: Build CLI - ${{ matrix.target.name }}
      run: ./gradlew --stacktrace cli:${{ matrix.target.task }}

    - name: Rename CLI binary
      shell: bash
      run: |
        mkdir -p ${{ matrix.target.artifact }}
        mv ${{ matrix.target.buildPath }} ${{ matrix.target.artifact }}/${{ matrix.target.binName }}

    - name: Run CLI binary
      run: ./${{ matrix.target.artifact }}/${{ matrix.target.binName }} --version

    - name: Upload CLI binary
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
      with:
        name: ${{ matrix.target.artifact }}
        path: ${{ matrix.target.artifact }}/${{ matrix.target.binName }}
        retention-days: 7

  build-ui:
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout Repository
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@ac638b010cf58a27ee6c972d7336334ccaf61c96 # v4

    - name: Generate OpenAPI spec
      run: ./gradlew --stacktrace :core:generateOpenApiSpec

    - name: Install pnpm
      uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda # v4
      with:
        version: 9

    - name: Install Node
      uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
      with:
        node-version: 20
        cache: pnpm
        cache-dependency-path: ui/pnpm-lock.yaml

    - name: Install dependencies
      run: pnpm -C ui install

    - name: Build UI
      run: pnpm -C ui build

    - name: Test UI
      run: pnpm -C ui test

  test:
    needs: build
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout Repository
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@ac638b010cf58a27ee6c972d7336334ccaf61c96 # v4

    - name: Run tests
      run: ./gradlew test allTests -Dkotest.tags='!Integration'

    - name: Create Test Summary
      uses: test-summary/action@31493c76ec9e7aa675f1585d3ed6f1da69269a86 # v2
      with:
        paths: "**/test-results/**/TEST-*.xml"
      if: success() || failure()

    - name: Upload test results
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
      if: success() || failure()
      with:
        name: test-results
        path: "**/build/reports/tests"
        retention-days: 7

  integration-test:
    needs: build
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout Repository
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@ac638b010cf58a27ee6c972d7336334ccaf61c96 # v4

    - name: Run integration tests
      run: ./gradlew test allTests -Dkotest.tags='Integration'

    - name: Create Test Summary
      uses: test-summary/action@31493c76ec9e7aa675f1585d3ed6f1da69269a86 # v2
      with:
        paths: "**/test-results/**/TEST-*.xml"
      if: success() || failure()

    - name: Upload test results
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
      if: success() || failure()
      with:
        name: integration-test-results
        path: "**/build/reports/tests"
        retention-days: 7
