name: ORT

on:
  workflow_dispatch:

env:
  GH_TOKEN: ${{ github.token }}
  ORT_CONFIG_DIR: ${{ github.workspace }}/ort-server/.github/ort

jobs:
  ort:
    name: Run ORT
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout Repository
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        path: ort-server

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0

    - name: Setup Java
      uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
      with:
        distribution: temurin
        java-version: 21

    - name: Setup pnpm
      uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      with:
        version: 10

    - name: Setup Node
      uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
      with:
        node-version: 24
        cache: pnpm
        cache-dependency-path: ort-server/ui/pnpm-lock.yaml

    - name: Install the latest ORT release
      run: |
        mkdir ort
        gh release -R oss-review-toolkit/ort download -p 'ort-*.tgz' -O - | tar -xzf - --strip-components=1 -C ort
        echo "ort/bin" >> $GITHUB_PATH

    - name: Cache ORT Cache Directory
      uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
      with:
        path: ~/.ort/cache
        key: ort-cache-${{ runner.os }}

    - name: Run ORT Analyzer
      run: |
        set +e
        ort --info analyze -i ort-server -o ort-results
        EXIT_CODE=$?
        if [ $EXIT_CODE -ne 0 ] && [ $EXIT_CODE -ne 2 ]; then
          echo "ORT Analyzer exited with code $EXIT_CODE, failing workflow."
          exit $EXIT_CODE
        fi

    - name: Run ORT Advisor
      run: |
        set +e
        ort --info advise -i ort-results/analyzer-result.yml -o ort-results -a OSV
        EXIT_CODE=$?
        if [ $EXIT_CODE -ne 0 ] && [ $EXIT_CODE -ne 2 ]; then
          echo "ORT Advisor exited with code $EXIT_CODE, failing workflow."
          exit $EXIT_CODE
        fi

    - name: Run ORT Evaluator
      run: |
        set +e
        ort --info evaluate -i ort-results/advisor-result.yml -o ort-results --rules-resource /rules/osadl.rules.kts
        EXIT_CODE=$?
        if [ $EXIT_CODE -ne 0 ] && [ $EXIT_CODE -ne 2 ]; then
          echo "ORT Evaluator exited with code $EXIT_CODE, failing workflow."
          exit $EXIT_CODE
        fi

    - name: Upload Evaluator Result
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: evaluation-result
        path: ort-results/evaluation-result.yml

    - name: Run ORT Reporter
      run: |
        set +e
        ort --info report -i ort-results/evaluation-result.yml -o ort-reports -f CycloneDX,SPDXDocument,WebApp
        EXIT_CODE=$?
        if [ $EXIT_CODE -ne 0 ] && [ $EXIT_CODE -ne 2 ]; then
          echo "ORT Reporter exited with code $EXIT_CODE, failing workflow."
          exit $EXIT_CODE
        fi

    - name: Upload ORT Reports
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: reports
        path: ort-reports
