name: Renovate

on:
  schedule:
  - cron: '0/15 * * * *'
  workflow_dispatch:

jobs:
  renovate:
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Renovate
      uses: renovatebot/github-action@v40.3.2
      with:
        configurationFile: .github/renovate-global.json
        token: ${{ secrets.RENOVATE_TOKEN }}
