name: Website Test

on:
  merge_group:
    types: [ checks_requested ]
  pull_request:
    branches:
    - main

jobs:
  website-test:
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout Repository
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@f29f5a9d7b09a7c6b29859002d29d24e1674c884 # v5.0.1

    - name: Generate OpenAPI spec
      run: ./gradlew --stacktrace :core:generateOpenApiSpec

    - name: Install Node
      uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
      with:
        node-version: 24
        cache-dependency-path: website/pnpm-lock.yaml

    - name: Enable Corepack
      run: corepack enable

    - name: Install dependencies
      run: pnpm -C website install --frozen-lockfile

    - name: Test build
      run: pnpm -C website build
